    :root{
        /* CHARTE GRAPHIQUE */
        --primary-color:#ffc551;
        --secondary-color:white;
        --tertiere-color:#ffb41f;
        --primaryClaire-color:#ffe9bcc2;
        --primary-backgroundColor:#ffb41fa9;
        --grey-color:#3b434a;
        /* ELEMENT COLOR */
        --barreGrise-color:rgb(196, 196, 196);
        --elementEXp-color:#82909c;
        --boxGris-color:rgb(224, 224, 224);
        --box-shadow:0px 0px 15px rgba(0, 0, 0, 0.26);
        --btnHover-color:#ffe7b777;
        /* font */
        --fontFamily-txt:"Open Sans", sans-serif;
        --fontFamily-title:"Raleway", sans-serif;
        --fontFamily-sousTitle:"Satisfy", serif;
        /* font-size */
        --fontSize-12px:0.75rem;
        --fontSize-13px:0.813rem;
        --fontSize-14px:0.875rem;
        --fontSize-15px:0.938rem;
        --fontSize-16px:1rem;
        --fontSize-18px:1.125rem;
        --fontWeight-200:200;
        --fontWeight-500:500;
        --fontWeight-700:700;

    }
    html,body{
        margin: 0;
        padding: 0;
        font-family: var(--fontFamily-txt);
        width: 100%;
        scroll-behavior: smooth;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: var(--fontFamily-title);
    }

    /* FONCTION FLEXBOX CSS */
    /* ROW */
    .DisplayFlexDirectionRow, #coordoner p{
        display: flex;
        flex-direction: row;
    }

    .DisplayFlexDirectionRowCenter, .ImgContact2{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .DisplayFlexDirectionRowAlignCenter, #MesExpPro li, .Logo a{
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .DisplayFlexDirectionRowBetween, #TexteBarre{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .DisplayFlexDirectionRowEvenly, .BtnProjet, .BtnLink2{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    /* COLUMN */
    .DisplayFlexDirectionColumn{
        display: flex;
        flex-direction: column;
    }

    .DisplayFlexDirectionColumnCenter{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .DisplayFlexDirectionColumnAlignCenter, .alignBox{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .DisplayFlexDirectionColumnBetween{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .DisplayFlexDirectionColumnEvenly{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    /* HeaderIMG */
    #headerIMG {
        height: 100vh;
        background: url('../images/RaphaelPetrozzi_Portefolio_HeaderIMG.png');
        background-size: cover;
    }

    /* HEADER */
    #header {
        background: transparent;
    }
    label, #toggle
    {
        display: none;
        margin: 0;
        padding: 0;
    }
 
    #MainNav {
        padding-left: 30%;
        padding-right: 30%;
        padding-top: 15px;
        padding-bottom: 15px;
        z-index: 3;
    }

    #NavApropos, #NavExperience, #NavProjet, #NavContact{
        color: var(--secondary-color);
    }

    #NavApropos:hover, #NavExperience:hover, #NavProjet:hover, #NavContact:hover, #NavAcceuil, #NavAcceuil:hover{
        transition: all 0.5s ease-in-out;
        color: var(--primary-color);
    }

    #MainNav a {
        text-decoration: none;
        text-transform: uppercase;
        font-size: var(--fontSize-13px);
    }

    /* MENU LANGUE */
    .lang-menu{
        position: absolute;
        top: 10px;
        right: 10%;
        color: var(--secondary-color);
        line-height: 2.2;
     }
     .selected-lang{
         cursor: pointer;
         text-transform: uppercase;
         font-size: var(--fontSize-14px);
     }
     .selected-lang:before{
         content: '';
         display: block;
         width: 32px;
         height: 32px;
         margin-right: 5px;
     }
     
     .lang-menu ul{
         margin: 0;
         padding: 0;
         background-color: rgba(30, 30, 30, 0.800);
         border: 1px solid var(--grey-color);
         box-shadow: 0px 1px 10px rgb(0, 0, 0.2);
         border-radius: 5px;
         display: none;
         position: absolute;
         top: 40;
         left: 0;
     }
     
     .lang-menu ul li {
         list-style: none;
         line-height: 2;
         width: 110%;
     }
     
     .lang-menu ul li a{
         padding: 5px 10px;
         color: var(--secondary-color);
         text-decoration: none;
         border-radius: 5px;
         transition: background-color 0.3s ease-in-out
     }
     
     .lang-menu ul li a::before{
         content: '';
         display: inline-block;
         width: 32px;
         height: 32px;
         vertical-align: middle;
         margin-right:5px ;
         
     }

     
     .lang-menu ul li a:hover{
         background-color: rgba(255, 255, 255, 0.527);
     }
     
     .lang-menu:hover ul{
         display: block;
     }
     
     #us:before{
         background-image: url("https://flagsapi.com/US/flat/32.png");
     }
     #fr:before{
         background-image: url("https://flagsapi.com/FR/flat/32.png");
     }

    /* SOUS-HEADER*/
    #sous-header {
        height: 100%;
        flex-wrap: wrap;
        align-content: center;
        color: var(--secondary-color);
    }

    #sous-header h1 {
        margin-bottom: 5px;
        font-size: 64px;
        font-weight: var(--fontWeight-200);
        font-family: var(--fontFamily-sousTitle);
    }

    #sous-header h2 {
        font-size: var(--fontSize-13px);
        font-weight: var(--fontWeight-500);
        letter-spacing: 1px;
        text-transform: uppercase;
    }

    /* MES TITRES */
    #MesTitles {
        text-align: center;
        padding: 30px 0;
        top: 110px;
        margin-bottom: 130px;
        position: relative;
    }

    #MesTitles h2 {
        font-size: 32px;
        font-weight: var(--fontWeight-700);
        text-transform: uppercase;
        color: var(--grey-color);
        position: relative;
        z-index: 1;
    }

    #MesTitles span {
        position: absolute;
        top: 55px;
        color: #eef0f2a6;
        left: 0;
        right: 0;
        z-index: 0;
        font-weight: var(--fontWeight-700);
        font-size: 52px;
        text-transform: uppercase;
        line-height: 0;
        font-family: var(--fontFamily-title);
    }

    /* A PROPOS */
    #Apropos, #MesExperiences,#MesProjets, #ContactezMoi {
        margin-left: 20%;
        margin-right: 20%;
    }

    #ImgDeProfil {
        height: 635px;
    }
    .imgbox{
        margin-right: 3%;
    }

    #coordoner {
        margin-left: 0;
        font-size: var(--fontSize-18px);
    }

    #EmailTxt {
        margin-top: 2px;
        font-size: var(--fontSize-15px);
        font-weight: normal;
        white-space: nowrap;
    }

    #coordoner img {
        margin-top: 0;
        margin-left: 0;
        width: 27px;
    }

    #coordoner p {
        margin-top: 0;
        margin-bottom: 0.3rem;
    }

    #coordoner strong {
        margin-right: 5px;
    }

    #description {
        font-size: var(--fontSize-15px);
        line-height: 1.4rem;
    }

    #TexteBarre {
        margin-bottom: 5px;
        font-size: var(--fontSize-15px);
    }

    .barreGrise {
        background: var(--barreGrise-color);
        height: 10px;
        margin-bottom: 10px;
    }

    .barreGriseLast {
        background: var(--barreGrise-color);
        height: 10px;
        margin-bottom: 0px;
    }

    .barreOrangeHtml {
        background: var(--tertiere-color);
        width: 80%;
        height: 10px;
    }

    .barreOrangePHP {
        background: var(--tertiere-color);
        width: 70%;
        height: 10px;
    }

    .barreOrangeSQL {
        background: var(--tertiere-color);
        width: 50%;
        height: 10px;
    }

    .barreOrangeGIT {
        background: var(--tertiere-color);
        width: 75%;
        height: 10px;
    }

    .barreOrangePYTHON {
        background: var(--tertiere-color);
        width: 55%;
        height: 10px;
    }

    .barreOrangeJAVA {
        background: var(--tertiere-color);
        width: 50%;
        height: 10px;
    }

    /* MES EXPERIENCES */
    #MesExperiences h3 {
        font-size: 26px;
        font-weight: var(--fontWeight-700);
        color: black;
    }

    #MesExperiences h4 {
        font-size: var(--fontSize-16px);
        line-height: 18px;
        font-weight: var(--fontWeight-700);
        text-transform: uppercase;
        color: var(--primary-color);
        margin: 2px;
    }

    #cercle {
        border-radius: 50%;
        width: 15px;
        height: 15px;
        border: 2px solid var(--elementEXp-color);
        margin-right: 7px;
    }

    #separation {
        width: 2px;
        margin-left: 0.5rem;
        margin-top: 5px;
        margin-bottom: 15px;
        background: var(--elementEXp-color);
    }

    #CarreGris {
        background-color: var(--boxGris-color);
        padding: 0.5rem;
        text-align: center;
        margin-left: 0;
        margin-top: 15px;
        margin-bottom: 5px;
        font-size: var(--fontSize-15px);
        max-width: fit-content;
    }

    #separation2 {
        height: auto;
        width: 2px;
        margin-left: 0.5rem;
        margin-top: 5px;
        margin-bottom: 15px;
        margin-right: 20px;
        background: var(--elementEXp-color);
    }
    #separation3 {
        height: 150px;
        width: 2px;
        margin-left: 0.5rem;
        margin-top: 5px;
        margin-bottom: 15px;
        margin-right: 20px;
        background: var(--elementEXp-color);
    }
    #MesExpPro{
        padding: 0;
        margin: 0;
        margin-top: 10px;
    }
    #MesExpPro strong{
        margin-right: 3px;
    }
    #MesExpPro li{
        margin-top: 5px;
    }
    #CarreGrisExpPro{
        background-color: var(--boxGris-color);
        padding: 0.4rem;
        text-align: center;
        margin-left: 0;
        font-size: var(--fontSize-15px);
        max-width: 90px;
        margin-left: 5px;
    }

    /* MES PROJETS*/
    #Project {
        margin-top: 4%;
    }

    #EncadrementGris {
        box-shadow: var(--box-shadow);
        border-radius: 7%;
        width: 37.5%;
        height: 100%;
    }

    #EncadrementGris img {
        width: 94%;
        margin: 3%;
        margin-bottom: 0;
        border-radius: 7%;
        box-shadow: var(--box-shadow);
    }

    #TitleProjet {
        text-align: center;
        font-size: 22px;
        text-transform: uppercase;
    }

    #TitleProjet h5 {
        margin-top: 4%;
        margin-bottom: 5%;
    }

    .BtnProjet {
        margin: 2%;
    }

    .BtnLink {
        background-color: var(--tertiere-color);
        border-radius: 8%;
        min-height: 40px;
        width: 30%;
        text-decoration: none;
        white-space: nowrap;
    }

    .BtnLink2 {
        background-color: var(--tertiere-color);
        border-radius: 8%;
        min-height: 40px;
        width: 25%;
        text-decoration: none;
        white-space: nowrap;
    }

    #BtnLink2:hover, #BtnLink:hover{
        border-radius: 14%;
        background-color: var(--primary-backgroundColor);
    }

    #BtnSite{
        background-color: transparent;
        color: var(--secondary-color);
        font-size: var(--fontSize-18px);
        border: none;
        width: 100%;
    }

    .BtnEnS {
        background-color: var(--primaryClaire-color);
        border: 2px solid var(--tertiere-color);
        min-height: 40px;
        width: 45%;
    }

    .BtnEnS a {
        text-decoration: none;
        color: var(--tertiere-color);
        font-size: var(--fontSize-18px);
    }

    .BtnEnS:hover, .BtnEnS2:hover, #BtnSite:hover{
        transition: all 0.5s ease-in-out;
        background-color: var(--btnHover-color);
    }

    .BtnEnS2 {
        background-color: var(--primaryClaire-color);
        color: var(--tertiere-color);
        font-size: var(--fontSize-16px);
        border: 2px solid var(--tertiere-color);
        min-height: 40px;
        width: 35%
    }

    /* CONTACTEZ-MOI */
    #BlockContact {
        margin-bottom: 5%;
    }

    #BlockContactGauche {
        width: 48%;
        height: auto;
    }

    #CarreBlanc {
        background-color: var(--secondary-color);
        box-shadow: var(--box-shadow);
        width: 100%;
        margin-bottom: 6%;
    }

    #CarreBlanc2 {
        background-color: var(--secondary-color);
        box-shadow: var(--box-shadow);
        width: 47%;
    }

    #CarreBlanc3 {
        background-color: var(--secondary-color);
        box-shadow: var(--box-shadow);
        width: 100%;
    }

    .alignBox {
        color: var(--elementEXp-color);
    }

    #BlockContact h5 {
        font-size: var(--fontSize-18px);
        margin-top: 0;
        margin-bottom: 0;
        /*color: var(--grey-color);*/
    }

    #BlockContact p {
        font-size: var(--fontSize-16px);
    }

    #BlockContact img {
        max-width: 25px;
    }

    #ImgContact {
        padding: 2%;
        background-color: var(--primaryClaire-color);
        width: auto;
        border-radius: 50%;
        margin: 3%;
    }

    .ImgContact2 {
        padding: 4%;
        margin: 6%;
        background-color: var(--primaryClaire-color);
        width: auto;
        border-radius: 50%;
    }

    #LogoReseau {
        width: 40%;
        margin: 3%;
    }

    .Logo {
        padding: 4.5%;
        border: 1px solid var(--boxGris-color);
        border-radius: 50%;
        background-color: var(--secondary-color);
    }

    .Logo:hover {
        transition: all 1s ease-in-out;
        background-color: var(--tertiere-color);
    }

    .Logo a {
        width: 100%;
    }

   /* #Logo img {
    }*/

    /* Contactez-Moi Formulaire*/
    .form {
        height: 100%;
    }

    #Formulaire {
        margin: 2%;
    }

    #FormulaireTop input {
        width: 100%;
    }

    #Formulaire input {
        height: 30px;
        margin: 1%;
        padding: 5px 15px;
    }

    #fname {
        color: var(--grey-color);
        border-color: var(--grey-color);
        border-width: 0.9px;
        font-size: var(--fontSize-15px);
    }

    #Formulaire textarea {
        padding: 10px 15px;
        margin: 1%;
    }

    #BtnEnvoyer {
        background-color: var(--tertiere-color);
        color: var(--secondary-color);
        font-size: 17px;
        border-color: transparent;
        border-radius: 8%;
        min-height: 45px;
        width: 20%;
    }

    #BtnEnvoyer:hover {
        transition: all 1s ease-in-out;
        border-radius: 13%;
        background-color: var(--primary-color);
    }

    /* Scroll Top */

    #scroll_to_top {
        visibility: hidden;
        position: fixed;
        width: 25px;
        height: 25px;
        bottom: 40px;
        right: 40px;
        z-index: 2;
    }

    #scroll_to_top img, #scroll_to_bottom {
        width: 50px;
    }

    /* TXT box hidden */
    #exemple, #exemple2, #exemple3, #exemple4{
        visibility: hidden;
        width: auto;
        height: 100%;
        text-align: center;
        z-index: 2;
    }

    #exemple div {
        position: absolute;
        width: 350px;
        height: cover;
        background-color: var(--secondary-color);
        box-shadow: var(--box-shadow);
        border-radius: 8%;
        padding: 15px;
        text-align: center;
        font-size: var(--fontSize-16px);
        line-height: 140%;
        left: 3%;
    }

    #exemple2 div, #exemple4 div{
        position: absolute;
        width: 350px;
        height: cover;
        background-color: var(--secondary-color);
        box-shadow: var(--box-shadow);
        border-radius: 8%;
        padding: 15px;
        text-align: center;
        font-size: var(--fontSize-15px);
        line-height: 140%;
        right: 3%;
    }

    #exemple3 div {
        position: absolute;
        width: 350px;
        height: cover;
        background-color: var(--secondary-color);
        box-shadow: var(--box-shadow);
        border-radius: 8%;
        padding: 15px;
        text-align: center;
        font-size: var(--fontSize-15px);
        line-height: 140%;
        margin-top: 2.5%;
        left: 3%;
    }

    #ExempleDate{
        color: var(--tertiere-color);
    }


    /* FOOTER*/
    #footer {
        background-image: url('../images/footer.png');
        background-size: cover;
        color: var(--secondary-color);
        height: 40vh;
        position: absolute;
        width: 100%;
    }

    #footer h3 {
        font-family: var(--fontFamily-sousTitle);
        font-size: 40px;
    }

/* NEW RESPONSIVE ******************************/
/* Grand ecran 4k+ */
@media only screen and (min-width: 2560px){
    #Apropos, #MesExperiences, #MesProjets, #ContactezMoi {
        margin-left: 15%;
        margin-right: 15%;
    }
    /* NAVBAR */
    #MainNav a, .txtsmartphone{
        font-size: 1.6rem;
    }
    #us:before, #fr:before{
        margin-top: 10px;
    }
    /* ACCEUIL */
    #sous-header h1{
        font-size: 140px;
    }
    #sous-header h2{
        font-size: 40px;
        margin-top: 5px;
    }
    /* MES TITRE */
    #MesTitles span{
        font-size: 90px;
    }
    #MesTitles h2{
        font-size: 80px;
        margin-top: 0;
    }
    /* A PROPOS */
    #ImgDeProfil{
        height: 900px;
    }
    #description{
        font-size: 1.7rem;
        line-height: 1.8rem;
    }
    #TexteBarre{
        font-size: 1.5rem;
    }
    .barreOrangeHtml,.barreOrangePHP ,.barreOrangeSQL , .barreOrangeGIT, .barreOrangePYTHON, .barreOrangeJAVA, .barreGrise, .barreGriseLast{
        height: 15px;
    }
    #coordoner1, #coordoner2, #EmailTxt{
        margin-top: 0;
        font-size: 1.7rem;
    }
    #coordoner1 img, #coordoner2 img{
        width: 50px;
    }
    /* MES EXPERIENCES */
    #MesExperiences h3{
        font-size: 4rem;
    }
    #MesExperiences h4{
        font-size: 2.2rem;
    }
    #MesExperiences ul, #listeDiplome{
        font-size: 1.8rem;
    }
    #CarreGris, #CarreGrisExpPro{
        font-size: 1.8rem;
        max-width: fit-content;
        padding: 0.8rem;
    }
    #separation3, #separation2{
        height: 290px;
    }
    /* MES PROJET */
    #TitleProjet{
        font-size: 2.2rem;
    }
    #BtnSite, .BtnEnS2, .BtnEnS a{
        font-size: 1.8rem;
    }
    .BtnLink2, .BtnLink{
        min-height: 60px;
    }
    #exemple2 div, #exemple4 div, #exemple div, #exemple3 div {
        height: fit-content;
        font-size: 1.6rem;
        width: 500px;
        line-height: 120%;
    }
    #ExempleDate{
        font-size: 1.3rem;
    }
    /* CONTACT */
    #BlockContact img {
        max-width: 60px;
    }
    #BlockContact h5{
        font-size: 2.2rem;
    }
    #BlockContact p{
       font-size: 1.8rem;
    }
    #Formulaire input {
        height: 100px;
        font-size: 1.8rem;
    }
    #BtnEnvoyer{
        width: 25%;
        height: 80px!important;
    }
    #message{
        height: 200px;
        font-size: 1.8rem;
        border:solid 1px black;
    }
    /* FOOTER */
    #footer h3 {
        font-size: 120px;
        font-weight: var(--fontWeight-200);
        margin-bottom: 2%;
    }
    .copyright{
        font-size: 30px;
        font-weight: var(--fontWeight-500);
    }
    /* */
    #scroll_to_top img{
        width: 100px;
    }
    #scroll_to_top{
        width: auto;
        height: auto;
    }
}

/* responsive pour pas faire de repetition */
/* laptop */
@media only screen and (max-width: 1440px){
    #Apropos, #MesExperiences, #MesProjets, #ContactezMoi {
        margin-left: 15%;
        margin-right: 15%;
    }
}
@media only screen and (max-width: 1024px){
    .DisplayMobile{
        flex-direction:column;
    }
    #exemple div, #exemple3 div{
        left: 1%;
    }
    #exemple2 div, #exemple4 div{
        right: 1%;
    }
}

/* MOBILE */
@media only screen and (max-width: 425px){
    #BurgerMenu {
        width: 30px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 86%;
        font-size: 50px;
        color: white;
        cursor: pointer;
        z-index: 10000;
        padding-left: 8px;
        padding-right: 8px;
        padding-bottom: 8px;
    }
    #toggle:checked + #MainNav {
        display: flex;
    }
    nav #MainNav {
        display: none;
        flex-direction: column;
        height: 200px;
    }
    nav #MainNav a {
        white-space: nowrap;
        font-size: 20px;
        text-align: center;
    }
    .lang-menu{
        left: 5%;
        right: auto;
    }
    .txtsmartphone{
        display: none;
    }
    #MesTitles{
        top: 60px;
        margin-bottom: 30px;
    }
    #coordoner{
        flex-direction: column;
    }
    .DisplayMobileContact2{
        flex-direction: column;
    }
    #separation2{
        height: auto;
        margin-right: 10px;
    }
    #separation3{
        height: auto;
        margin-right: 10px;
    }
    .DisplayProjetMobile{
        flex-direction: column;
        align-items: center;
    }
    #exemple2 div, #exemple4 div, #exemple div, #exemple3 div {
        right: 15%;
        left: 15%;
        height: fit-content;
        line-height: 120%;
        width: auto;
        padding: 10px;
    }
    .hiddenMobilTxt{
        display: none!important;
    }
    #CarreBlanc, #CarreBlanc2{
        margin-bottom: 3%;
    }
    #CarreBlanc2{
        width: 100%;
    }
    #scroll_to_top {
        right: 30px;
        bottom: 30px;
    }
    #EncadrementGris{
        width: auto;
        margin-bottom: 5%;
    }
}

/* TABLETTE */
@media only screen and (max-width: 768px){
    .DisplayMobileProjet{
        flex-direction: column;
    }
    .displayMobileExperience{
        flex-direction: column;
    }
    .DisplayMobileContact{
        flex-direction: column;
    }
    #BlockContactGauche{
        width: 100%;
        margin-bottom: 3%;
    }
}

/* Laptop large */
@media only screen and (min-width: 1025px) and (max-width: 1440px){
    #ImgDeProfil{
        height: 700px;
    }
    .imgbox{
        margin-right: 2%;
    }
    #description p{
        margin-top: 0.2rem;
    }
    #coordoner p{
        margin-bottom: 0.3rem;
    }
}

/* Laptop classique */
@media only screen and (min-width: 769px) and (max-width: 1024px){
    /* NAVBAR */
    .lang-menu {
        right: 5%;
        top: 8px;
    }
    .selected-lang{
        font-size: var(--fontSize-13px);
    }
    #MainNav{
        padding-right: 25%;
        padding-left: 25%;
    }
    /* A PROPOS */
    .imgbox{
        display: flex;
        justify-content: center;
        margin-right: 0;
        margin-bottom: 3%;
    }
    .CoordoneLaptop{
        display: flex;
        justify-content: space-around;
    }
    /* Experiences */
    #MesExperiences ul, #listeDiplome{
        font-size: 0.7rem;
    }
    #CarreGris, #CarreGrisExpPro{
        font-size: 0.7rem;
        max-width: fit-content;
        padding: 0.4rem;
    }
    #separation2{
        height: 130px;
    }
    #separation3{
        height: 120px;
    }
    /* PORJET */
    #BtnSite, .BtnEnS2, .BtnEnS a, #BtnEnvoyer, .BtnLink2, .BtnLink, .BtnEnS{
        font-size: 0.9rem;
        width: fit-content;
        min-height: 30px;
    }
    #EncadrementGris{
        width: 40%;
    }
    #exemple2 div, #exemple4 div, #exemple div, #exemple3 div {
        height: fit-content;
        font-size: 0.8rem;
        line-height: 120%;
        width: 250px;
        padding: 10px;
    }
    #ExempleDate{
        font-size: 0.7rem;
    }
    /* CONTACT */
    #BlockContact p{
        font-size: 0.7rem;
    }
}

/* Tablette */
@media only screen and (min-width: 426px) and (max-width: 768px){
    #MesTitles{
        top: 80px;
        margin-bottom: 50px;
    }
    /* NAVBAR */
    .lang-menu {
        right: 5%;
        top: 8px;
        line-height: 2.4;
    }
    .selected-lang{
        font-size: var(--fontSize-13px);
    }
    #MainNav{
        padding-right: 20%;
        padding-left: 20%;
    }
    /* APROPOS */
    .imgbox{
        margin-right: 0;
        margin-bottom: 2%;
        display: flex;
        justify-content: center;
    }
    /* EXPERIENCE */
    #MesExperiences h3{
        font-size: 2rem;
    }
    #MesExperiences h4{
        font-size: 1.5rem;
    }
    #MesExperiences ul, #listeDiplome{
        font-size: 1rem;
    }
    #CarreGris, #CarreGrisExpPro{
        font-size: 1rem;
        width: fit-content;
    }
    /* PROJET */
    #EncadrementGris{
        width: 45%;
    }
    #TitleProjet h5{
        font-size: 1rem;
    }
    #BtnSite, .BtnEnS2, .BtnEnS, .BtnEnS a, .BtnLink2, .BtnLink{
        font-size: 0.7rem;
        width: fit-content;
        min-height: 30px;        
    }
    #exemple2 div, #exemple4 div, #exemple div, #exemple3 div {
        height: fit-content;
        font-size: 0.7rem;
        line-height: 120%;
        width: 200px;
        padding: 10px;
    }
}

/* Mobile large */
@media only screen and (min-width: 376px) and (max-width: 425px){
    /* HEADER */
    #sous-header h1{
        font-size: 54px;
    }
    /* A PROPOS */
    #ImgDeProfil{
        height: 400px;
    }
    #EmailTxt{
        font-size: 1rem;
        margin-top:2px;
    }
    #description{
        font-size: 0.9rem;
    }
    /* EXPERIENCE */
    #separation2{
        width: 3px;
    }
    #MesExperiences ul, #listeDiplome{
        font-size: 0.8rem;
    }
    #CarreGrisExpPro {
        padding: 0.3rem;
    }
    /* PROJET */
    #BtnSite, .BtnEnS2, .BtnEnS, .BtnEnS a, #BtnEnvoyer, .BtnLink2, .BtnLink{
        font-size: 1rem;
        width: fit-content;
        min-height: 40px;        
    }
    /* CONTACT */
    /* FOOTER */
    .copyright{
        font-size: 0.9rem;
    }
}

/* Mobile classique */
@media only screen and (min-width: 321px) and (max-width: 375px){
    #MesTitles span{
        font-size: 1.8rem;
    }
    #MesTitles h2{
        font-size: 1.6rem;
    }
    /* HEADER */
    #sous-header h1{
        font-size: 50px;
    }
    /* A PROPOS */
    #ImgDeProfil{
        height: 350px;
    }
    #EmailTxt{
        font-size: 0.9rem;
        margin-top: 4px;
    }
    #description{
        font-size: 0.9rem;
    }
    /* EXPERIENCE */
    #MesExperiences ul, #listeDiplome{
        font-size: 0.7rem;
    }
    #CarreGrisExpPro {
        font-size: 0.7rem;
        padding: 0.3rem;
    }
    /* PROJET */
    #BtnSite, .BtnEnS2, .BtnEnS, .BtnEnS a, .BtnLink2, .BtnLink{
        font-size: 0.8rem;
        width: fit-content;
        min-height: 30px;       
    }
    #exemple2 div, #exemple4 div, #exemple div, #exemple3 div {
        font-size: 0.8rem;
    }
    /* CONTACT */
    #ImgContact{
        padding: 4%;
        margin: 6%;
    }
    .Logo{
        padding: 8%;
    }
    #BtnEnvoyer{
        font-size: 1rem;
        width: fit-content;
        min-height: 40px;
    }
    /* FOOTER */
    .copyright{
        font-size: 0.8rem;
    }
}

/* Mobile slim */
@media only screen and (max-width: 320px){
    #BurgerMenu {
        width: 30px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 86%;
        font-size: 40px;
        color: white;
        cursor: pointer;
        z-index: 10000;
        padding-left: 3px;
        padding-right: 6px;
        padding-bottom: 3px;
    }
    #MesTitles span{
        font-size: 1.7rem;
    }
    #MesTitles h2{
        font-size: 1.5rem;
    }
    /* HEADER */
    #sous-header h1{
        font-size: 40px;
    }
    /* A PROPOS */
    .DisplayMobile{
        margin-bottom: 2%;
    }
    #ImgDeProfil{
        height: 300px;
    }
    #coordoner img {
        width: 25px;
    }
    #coordoner p{
        margin-bottom: 1%;
    }
    #TitleCoord{
        font-size: 0.8rem;
        margin-top: 3px;
    }
    #EmailTxt{
        font-size: 0.8rem;
        margin-top: 3px;
    }
    #description{
        font-size: 0.8rem;
        line-height: 1.2rem;
    }
    /* EXPERIENCE */
    #MesExperiences ul, #listeDiplome{
        font-size: 0.6rem;
    }
    #CarreGrisExpPro {
        font-size: 0.6rem;
        padding: 0.3rem;
    }
    /* PROJET */
    #BtnSite, .BtnEnS2, .BtnEnS, .BtnEnS a, .BtnLink2, .BtnLink{
        font-size: 0.7rem;
        width: fit-content;
        min-height: 25px;       
    }
    #TitleProjet{
        font-size:1rem;
    }
    #exemple2 div, #exemple4 div, #exemple div, #exemple3 div {
        font-size: 0.7rem;
    }
    /* CONTACT */
    #ImgContact{
        padding: 4%;
        margin: 6%;
    }
    #LogoReseau{
        width: 60%;
    }
    .Logo{
        padding: 6%;
    }
    #BtnEnvoyer{
        font-size: 1rem;
        width: fit-content;
        min-height: 40px;
    }
    #fname, #message, #BlockContact p{
        font-size: 0.8rem;
    }
    /* FOOTER */
    #scroll_to_top img, #scroll_to_bottom {
        width: 45px;
    }
    #scroll_to_top {
        right: 20px;
    }
    .copyright{
        font-size: 0.7rem;
    }
}