    html{
        margin: 0;
        padding: 0;
        font-family: "Open Sans", sans-serif;
        width: 100%;
    }
    body{
        margin: 0;
        padding: 0;
        font-family: "Open Sans", sans-serif;
        width: 100%;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: "Raleway", sans-serif;
    }

    /* HeaderIMG */
    #headerIMG {
        margin-top: 0;
        width: 100%;
        height: 100vh;
        background: url('../images/RaphaelPetrozzi_Portefolio_HeaderIMG.png');
        background-size: cover;
    }

    /* HEADER */
    #header {
        background: transparent;
    }
    label, #toggle
    {
        display: none;
        margin: 0;
        padding: 0;
    }
 

    #MainNav {
        padding-left: 30%;
        padding-right: 30%;
        padding-top: 15px;
        padding-bottom: 15px;
        display: flex;
        justify-content: space-evenly;
        z-index: 3;
    }

    #NavApropos {
        color: white;
    }

    #NavApropos:hover {
        color: #ffc551;
    }

    #NavExperience {
        color: white;
    }

    #NavExperience:hover {
        color: #ffc551;
    }

    #NavProjet {
        color: white;
    }

    #NavProjet:hover {
        color: #ffc551;
    }

    #NavContact {
        color: white;
    }

    #NavContact:hover {
        color: #ffc551;
    }

    #NavAcceuil {
        color: #ffb727;
    }

    #NavAcceuil:hover {
        color: #ffc551;
    }

    #MainNav a {
        text-decoration: none;
        text-transform: uppercase;
        font-size: 13px;
    }

    /* MENU LANGUE */
    .lang-menu{
        position: absolute;
        top: 10px;
        right: 10%;
        color: white;
     
     }
     .selected-lang{
         cursor: pointer;
         display: flex;
         justify-content: space-between;
         line-height: 2.2;
         text-transform: uppercase;
         font-size: 14px;
     }
     .selected-lang:before{
         content: '';
         display: block;
         width: 32px;
         height: 32px;
         margin-right: 5px;
     }
     
     .lang-menu ul{
         margin: 0;
         padding: 0;
         background-color: rgba(30, 30, 30, 0.800);
         border: 1px solid #3b434a;
         box-shadow: 0px 1px 10px rgb(0, 0, 0.2);
         border-radius: 5px;
         display: none;
         position: absolute;
         top: 40;
         left: 0;
     }
     
     .lang-menu ul li {
         list-style: none;
         display: flex;
         justify-content: space-between;
         line-height: 2;
         width: 110%;
     }
     
     .lang-menu ul li a{
         display: flex;
         justify-content: space-between;
         padding: 5px 10px;
         color: white;
         text-decoration: none;
     }
     
     .lang-menu ul li a::before{
         content: '';
         display: inline-block;
         width: 32px;
         height: 32px;
         vertical-align: middle;
         margin-right:5px ;
         
     }
     
     .lang-menu ul li a:hover{
         background-color: rgba(30, 30, 30, 0.400);
         border-radius: 5px;
     }
     
     .lang-menu:hover ul{
         display: block;
     }
     
     #us:before{
         background-image: url("https://flagsapi.com/US/flat/32.png");
     }
     #fr:before{
         background-image: url("https://flagsapi.com/FR/flat/32.png");
     }

    /* SOUS-HEADER*/
    #sous-header {
        display: flex;
        justify-content: center;
        height: 100%;
        flex-wrap: wrap;
        align-content: center;
        color: white;
    }

    #sous-headerContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #sous-header h1 {
        margin-bottom: 5px;
        font-size: 64px;
        font-weight: 200;
        font-family: "Satisfy", serif;
    }

    #sous-header h2 {
        font-size: 13px;
        font-weight: 500;
        letter-spacing: 1px;
        text-transform: uppercase;
        text-align: center;
    }

    /* MES TITRES */
    #MesTitles {
        text-align: center;
        padding: 30px 0;
        top: 110px;
        margin-bottom: 130px;
        position: relative;
    }

    #MesTitles h2 {
        font-size: 32px;
        font-weight: 700;
        text-transform: uppercase;
        color: #3b434a;
        position: relative;
        z-index: 1;
    }

    #MesTitles span {
        position: absolute;
        top: 55px;
        color: #eef0f2a6;
        left: 0;
        right: 0;
        z-index: 0;
        font-weight: 700;
        font-size: 52px;
        text-transform: uppercase;
        line-height: 0;
        font-family: "Raleway", sans-serif;
    }

    /* A PROPOS*/
    #Apropos {
        margin-left: 20%;
        margin-right: 20%;
    }

    #ImgDeProfil {
        height: 600px;
        margin-right: 3%;
    }

    #AproposDeMoi {
        display: flex;
        flex-direction: row;
    }

    #MainApropos {
        margin-top: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #coordoner {
        margin-left: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 18px;
    }

    #EmailTxt {
        margin-top: 2px;
        font-size: 15px;
        font-weight: normal;
        white-space: nowrap;
    }

    #coordoner img {
        margin-top: 0;
        margin-left: 0;
        width: 27px;
    }

    #coordoner p {
        margin-top: 0;
        display: flex;
        flex-direction: row;
    }

    #coordoner strong {
        margin-right: 5px;
    }

    #description {
        font-size: 16px;
        line-height: 1.4rem;
    }

    #MaitriseDesLanguagues #TexteBarre {
        display: flex;
        justify-content: space-between;
    }

    #TexteBarre {
        margin-bottom: 5px;
        font-size: 0.9rem;
    }

    .barreGrise {
        background: rgb(196, 196, 196);
        height: 10px;
        margin-bottom: 10px;
    }

    .barreGriseLast {
        background: rgb(196, 196, 196);
        height: 10px;
        margin-bottom: 0px;
    }

    .barreOrangeHtml {
        background: rgb(255, 172, 77);
        width: 80%;
        height: 10px;
    }

    .barreOrangePHP {
        background: rgb(255, 172, 77);
        width: 70%;
        height: 10px;
    }

    .barreOrangeSQL {
        background: rgb(255, 172, 77);
        width: 50%;
        height: 10px;
    }

    .barreOrangeGIT {
        background: rgb(255, 172, 77);
        width: 75%;
        height: 10px;
    }

    .barreOrangePYTHON {
        background: rgb(255, 172, 77);
        width: 55%;
        height: 10px;
    }

    .barreOrangeJAVA {
        background: rgb(255, 172, 77);
        width: 50%;
        height: 10px;
    }

    /* MES EXPERIENCES */
    #MesExperiences {
        margin-left: 20%;
        margin-right: 20%;
    }

    #MesExpGauche {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    #MesFormations {
        display: flex;
        flex-direction: column;
    }

    #MesExperiences h3 {
        font-size: 26px;
        font-weight: 700;
        color: black;
    }

    #MesExperiences h4 {
        font-size: 16px;
        line-height: 18px;
        font-weight: 700;
        text-transform: uppercase;
        color: #ffb727;
        margin: 2px;
    }

    #cercle {
        border-radius: 50%;
        width: 15px;
        height: 15px;
        border: 2px solid #82909c;
        margin-right: 7px;
    }

    #separation {
        width: 2px;
        margin-left: 0.5rem;
        margin-top: 5px;
        margin-bottom: 15px;
        background: #82909c;
    }

    #CarreGris {
        background-color: rgb(224, 224, 224);
        padding: 0.4rem;
        text-align: center;
        margin-left: 0;
        margin-top: 15px;
        margin-bottom: 5px;
        font-size: 15px;
        max-width: 90px;
    }

    #separation2 {
        height: 180px;
        width: 2px;
        margin-left: 0.5rem;
        margin-top: 5px;
        margin-bottom: 15px;
        margin-right: 20px;
        background: #82909c;
    }
    #separation3 {
        height: 150px;
        width: 2px;
        margin-left: 0.5rem;
        margin-top: 5px;
        margin-bottom: 15px;
        margin-right: 20px;
        background: #82909c;
    }
    #MesExpPro{
        padding: 0;
        margin: 0;
        margin-top: 10px;
    }
    #MesExpPro strong{
        margin-right: 3px;
    }
    #MesExpPro li{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 5px;
    }
    #CarreGrisExpPro{
        background-color: rgb(224, 224, 224);
        padding: 0.4rem;
        text-align: center;
        margin-left: 0;
        font-size: 15px;
        max-width: 90px;
        margin-left: 5px;
    }

    /* MES PROJETS*/
    #MesProjets {
        margin-left: 20%;
        margin-right: 20%;
    }

    #alignProjet {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #Projects {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    #Project {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-top: 4%;
    }

    #EncadrementGris {
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.26);
        border-radius: 7%;
        width: 37.5%;
        height: 100%;
    }

    #EncadrementGris img {
        width: 94%;
        margin: 3%;
        margin-bottom: 0;
        border-radius: 7%;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.26);
    }

    #TitleProjet {
        text-align: center;
        font-size: 22px;
        text-transform: uppercase;
    }

    #TitleProjet h5 {
        margin-top: 4%;
        margin-bottom: 5%;
    }

    #BtnProjet {
        display: flex;
        justify-content: space-around;
        margin: 2%;
    }

    #BtnLink {
        background-color: #ffb41f;
        border-radius: 8%;
        min-height: 40px;
        width: 30%;
        display: flex;
        justify-content: center;
        text-decoration: none;
        white-space: nowrap;
    }

    #BtnLink2 {
        background-color: #ffb41f;
        border-radius: 8%;
        min-height: 40px;
        width: 25%;
        display: flex;
        justify-content: center;
        text-decoration: none;
        white-space: nowrap;
    }

    #BtnLink2:hover {
        border-radius: 14%;
        background-color: #ffb41fa9;
    }

    #BtnSite {
        background-color: transparent;
        color: white;
        font-size: 1.2rem;
        border: none;

    }

    #BtnLink:hover {
        border-radius: 14%;
        background-color: #ffb41fa9;
    }

    .BtnEnS {
        background-color: #ffe9bcc2;
        border: 2px solid #ffb41f;
        min-height: 40px;
        width: 45%;
    }

    .BtnEnS a {
        text-decoration: none;
        color: #ffb41f;
        font-size: 1rem;
    }

    .BtnEnS:hover {
        background-color: #ffe7b777;
    }

    .BtnEnS2 {
        background-color: #ffe9bcc2;
        color: #ffb41f;
        font-size: 1rem;
        border: 2px solid #ffb41f;
        min-height: 40px;
        width: 35%
    }

    .BtnEnS2:hover {
        background-color: #ffe7b777;
    }

    /* CONTACTEZ-MOI */
    #BlockContact {
        margin-left: 20%;
        margin-right: 20%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 5%;
    }

    #BlockContactGauche {
        width: 48%;
        height: auto;
    }

    #CarreBlanc {
        background-color: white;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.26);
        width: 100%;
        margin-bottom: 6%;
    }

    #CarreBlanc2 {
        background-color: white;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.26);
        width: 47%;
    }

    #CarreBlanc3 {
        background-color: white;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.26);
        width: 100%;

    }


    #alignBox {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #444444;
    }

    #BlockContact h5 {
        font-size: 18px;
        margin-top: 0;
        margin-bottom: 0;
        color: #727272;
    }

    #BlockContact p {
        font-size: 16px;
    }

    #BlockContact img {
        max-width: 25px;
    }

    #ImgContact {
        padding: 2%;
        background-color: #ffe9bcc2;
        width: auto;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        margin: 3%;
    }

    #ImgContact2 {
        padding: 4%;
        margin: 6%;
        background-color: #ffe9bcc2;
        width: auto;
        border-radius: 50%;
        display: flex;
        justify-content: center;
    }

    #LogoReseau {
        width: 40%;
        margin: 3%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    #Logo {
        padding: 4.5%;
        border: 1px solid #dde1e4;
        border-radius: 50%;
        background-color: #ffffff;
        display: flex;
        justify-content: center;
    }

    #Logo:hover {
        background-color: #ffb41f;
    }

    #Logo a {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    #Logo img {
    }

    /* Contactez-Moi Formulaire*/
    form {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }


    #Formulaire {
        display: flex;
        flex-direction: column;
        margin: 2%;
    }

    #FormulaireTop input {
        width: 100%;
    }

    #Formulaire input {
        height: 30px;
        margin: 1%;
        padding: 5px 15px;
    }

    #fname {
        color: #6d6d6d;
        border-color: #bbbbbbde;
        border-width: 0.9px;
        font-size: 15px;
    }

    #Formulaire textarea {
        padding: 10px 15px;
        margin: 1%;
    }

    #BtnFormu {
        display: flex;
        justify-content: center;
    }

    #BtnEnvoyer {
        background-color: #ffb41f;
        color: white;
        font-size: 17px;
        border-color: transparent;
        border-radius: 8%;
        min-height: 45px;
        width: 20%;
    }

    #BtnEnvoyer:hover {
        border-radius: 13%;
        background-color: #ffc551;
    }

    /* FONCTION CSS*/
    .DisplayFlexDirectionRow {
        display: flex;
        flex-direction: row;
    }

    .DisplayFlexDirectionRowBetween {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    /* Scroll Top */

    #scroll_to_top {
        visibility: hidden;
        position: fixed;
        width: 25px;
        height: 25px;
        bottom: 40px;
        right: 40px;
        z-index: 2;
    }

    #scroll_to_top img {
        width: 50px;
    }

    #scroll_to_bottom {
        width: 50px;
    }

    /* TXT box hidden */
    #exemple {
        visibility: hidden;
        width: auto;
        height: 100%;
        text-align: center;
        z-index: 2;
    }

    #exemple div {
        position: absolute;
        width: 350px;
        height: cover;
        background-color: #ffffff;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.26);
        border-radius: 8%;
        padding: 15px;
        text-align: center;
        font-size: 16px;
        line-height: 140%;
        left: 3%;
    }

    #exemple2 {
        visibility: hidden;
        width: auto;
        height: 100%;
        text-align: center;
        z-index: 2;
    }

    #exemple2 div {
        position: absolute;
        width: 350px;
        height: cover;
        background-color: #ffffff;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.26);
        border-radius: 8%;
        padding: 15px;
        text-align: center;
        font-size: 15px;
        line-height: 140%;
        right: 3%;
    }

    #exemple3 {
        visibility: hidden;
        width: auto;
        height: 100%;
        text-align: center;
        z-index: 2;
    }

    #exemple3 div {
        position: absolute;
        width: 350px;
        height: cover;
        background-color: #ffffff;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.26);
        border-radius: 8%;
        padding: 15px;
        text-align: center;
        font-size: 15px;
        line-height: 140%;
        margin-top: 2.5%;
        left: 3%;
    }

    #exemple4 {
        visibility: hidden;
        width: auto;
        height: 100%;
        text-align: center;
        z-index: 2;
    }

    #exemple4 div {
        position: absolute;
        width: 350px;
        height: cover;
        background-color: #ffffff;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.26);
        border-radius: 8%;
        padding: 15px;
        text-align: center;
        font-size: 15px;
        line-height: 140%;
        right: 3%;
    }

    #ExempleDate{
        color: #ffb41f;
    }


    /* FOOTER*/
    #footer {
        background-image: url('../images/footer.png');
        background-size: cover;
        color: white;
        height: 40vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 100%;
    }

    #footer h3 {
        font-family: "Satisfy", serif;
        font-size: 40px;
    }

/* RESPONSIVE */

/* Petit ecran de pc */
@media screen and (min-width:1024px) and (max-width:1600px){
/* NAV */
    nav #MainNav a{
        color: white!important;
    }
/*MES EXPERIENCES */
    #listeDiplome{
        font-size: 14px;
    }
    #MesExpPro{
        font-size: 14px;
    }
    #BtnSite{
        font-size: 18px;
    }

/* POP-UP mes projet*/
    #exemple div{
        width: 300px;
        left: 2%;
    }
    #exemple2 div{
        width: 300px;
        right: 2%;
    }
    #exemple3 div{
        width: 300px;
        left: 2%;
    }
    #exemple4 div{
        width: 300px;
        right: 2%;
    }
/* CONTEZ-MOI */
    #BlockContact img {
        max-width: 25px;
        margin-top: 9px;
        margin-bottom: 9px;
    }
}

/* ecran taille tablette */
@media screen and (min-width:780px) and (max-width:1080px) {
/* NAV */
    #nav {
        justify-content: space-between;
    }
    nav #MainNav a{
        color: white!important;
    }
/* A PROPOS */
    #Apropos {
        margin-left: 5%;
        margin-right: 5%;
    }
    #MesTitles{
        top: 70px;
        margin-bottom: 80px;
    }
    #ImgDeProfil {
        height: 500px;
        margin-right: 2%;
    }
    #coordoner img {
        width: 20px;
    }
    #coordoner strong {
        margin-right: 5px;
    }
    #EmailTxt {
        margin-top: 2px;
        font-size: 13px;
    }
    #TitleCoord {
        font-size: 15px;
    }
    #description {
    font-size: 13px;
    line-height: 1.1rem;
    }
    #TexteBarre{
        font-size: 0.7REM;
    }
    .barreGrise{
        margin-bottom: 5PX;
    }
    /* Mes Experiences */
    #MesExperiences{
        margin-left: 5%;
        margin-right: 5%;
    }
    #MesExperiences h3{
        font-size: 24px;
    }
    #MesExperiences h4{
        font-size: 16px;
    }
    #separation2{
        height: 155px;
    }
/* Mes Projets */
    #MesProjets{
        margin-left: 5%;
        margin-right: 5%;
    }
    #exemple div{
        width: 300px;
        left: 11.5%;
    }
    #exemple2 div{
        width: 300px;
        right: 11.5%;
    }
    #exemple3 div{
        width: 300px;
        left: 11.5%;
        margin-top: 4%;
    }
    #exemple4 div{
        width: 300px;
        right: 11.5%;
    }
/* Contactez-moi */
    #BlockContact{
        margin-left: 5%;
        margin-right: 5%;
    }
    #BtnEnvoyer{
        width: auto;
    }
}


/* smartphone */
@media screen and (max-width:767px){
/* Mes Titre */
    #MesTitles{
        top: 70px;
        margin-bottom: 60px;
    }
    #MesTitles h2{
        font-size: 28px;
    }
    #MesTitles span{
        font-size: 38px;
    }
/* NAV */
    nav #MainNav{
        display: none;
        flex-direction: column;
        height: 200px;

    }
    nav #MainNav a{
        white-space:nowrap;
        font-size: 20px;
        text-align: center;
        color: white!important;
    }
    #BurgerMenu 
    {
        width: 30px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 85%;
        font-size: 50px;
        color: white;
        cursor: pointer;
        z-index: 10000;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
    }
    #toggle:checked + #MainNav {
        display: flex;
    }
    .lang-menu{
        right: auto;
        left: 7%;
     }
     .txtsmartphone{
        display: none;
     }
     .lang-menu ul {
        top: 40px;
     }
     .lang-menu ul li a {
        padding: 3px 7px;
     }
     .lang-menu ul li a::before {
        margin-right: auto;
     }
/* HEADER */
    #sous-headerContainer{
        margin-top: 25%;
    }
    #sous-headerContainer h1{
        font-size: 55px;
    }
/* A Propos */
    #Apropos {
        margin-left: 5%;
        margin-right: 5%;
    }
    #AproposDeMoi{
        flex-direction: column;
    }
    #Apropos {
        margin-left: 5%;
        margin-right: 5%;
    }
    #ImgDeProfil{
        height: 475px;
        margin-right:0;
        margin-bottom: 4.5%;
    }
    #coordoner{
        flex-direction: column;
        margin-top: 5px;
    }
    #coordoner p{
        margin-bottom: 5px;
        flex-wrap: nowrap;
        align-items: center;
    }
    #coordoner img{
        height: 3%;
        width: 7%;
    }
    #TitleCoord{
        font-size: 16px;
    }
    #EmailTxt{
        font-size: 13px;
    }
    #description{
        font-size: 15px;
        line-height:1.3rem;
        margin-top: 2px;
    }
    #MaitriseDesLanguagues{
        margin-top: 7px;
    }
/* MES EXPERIENCES */
    #MesExperiences{
        margin-left: 5%;
        margin-right: 5%;
    }
    #MesExpGauche{
        flex-direction: column;
    }
    #listeDiplome{
        font-size: 12px;
    }
    #ExpPro{
        margin-left: 20px;
    }
    #MesExpPro{
        padding: 0;
    }
    #MesExpPro li{
        font-size: 12px;
        flex-wrap: nowrap;
    }
    #ExpPro{
        margin-left: 0;
    }
    #CarreGrisExpPro{
        font-size: 14px;
    }
    #hiddenMobilTxt{
        visibility: hidden;
        width: 0;
        height: 0;
    }
/* MES PROJET */
    #MesProjets{
        margin-left: 5%;
        margin-right: 5%;
    }
    #Projects{
        flex-direction: column;
    }
    #Project{
        flex-direction: column;
        margin-top: 0;
    }
    #EncadrementGris{
        width: auto;
        margin-bottom: 5%;
        padding-bottom: 2%;
    }
    #BtnSite{
        font-size: 1rem;
    }
    .BtnEnS2{
        white-space: wrap;
    }
    .BtnEnS2 a{
        font-size: 0.9rem;
    }
    #exemple div{
        margin-left: 1%;
        width: 82%;
    }
    #exemple2 div{
        left: 5%;
        width: 82%;
    }
    #exemple3 div{
        left: 5%;
        width: 82%;
    }
    #exemple4 div{
        left: 5%;
        width: 82%;
    }
/* CONTACTEZ-MOI */
    #BlockContact{
        margin-left: 5%;
        margin-right: 5%;
        flex-direction: column;
        margin-bottom: 0;
    }
    #BlockContact img{
        max-width: 25px;
        max-height: 25px;
    }
    #BlockContactGauche{
        width: auto;
        margin-bottom: 5%;
    }
    #BtnEnvoyer{
        width: auto;
    }
    #LogoReseau{
        width: 60%;
    }
    #BlockContact p{
        font-size: 12px;
    }
/* FOOTER */
    .copyright{
        font-size: 14px;
    }
}

